    :root {
        --fs: 3.2rem;
        --sq-w: 25rem;
        --sq-h: 25rem;
    }

html {
    font-size: 62.5%;
}

body {
    background-color: #f8f8ff;
    font-family: 'Zilla Slab', Georgia, 'Times New Roman', Times, serif;
    font-size: var(--fs);
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
}

h1 {
    font-size: calc(var(--fs) + 100%);
    text-align: center;
}

.page-container {
    margin: 15px auto;
    max-width: 75%;
}


nav {
    text-align: center;
}

nav > a {
    color: hsla(156, 61%, 31%, 1);
}

nav > a:hover {
    color: hsla(156, 61%, 31%, 0.50);
    font-style: oblique;
}

.bq-info {
    background-color: hsla(25, 63%, 55%, 0.40);
    border-left: 15px solid hsla(25, 63%, 45%, 0.60);
}

.bq-alert {
    background-color: hsla(9, 100%, 70%, 0.3);
    border-left: 15px solid hsla(9, 100%, 64%, 1);
}

blockquote > h1, h2, h3, h4 {
    border-bottom: 1.5px solid hsla(0, 0%, 0%, 0.10);
    padding: 1.5px;
}

blockquote {
    margin: 0;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    font-weight: bold;
    padding: 15px;
    /*box-shadow: 2.5px 4px hsla(0, 0%, 0%, 0.5);*/
    box-shadow: 0px 0px 5px 0px hsla(0, 0%, 0%, 0.5);
    border-radius: 0.5rem;
}

blockquote > p {
    font-style: oblique;
}

summary {
    font-style: oblique;
    font-weight: bolder;
    text-decoration: underline;
    font-size: calc(var(--fs) + 20%);
}

dialog::backdrop {
    background: rgba(255,0,0,.25);
}

blockquote > ::selection {
    background: #2b2b2b;
    color: #fff;   
}

::selection {
    background: #1F8059;
    color: #fff;
}

section > p:first-child::first-letter {
    font-size: calc(var(--fs) + 150%);
}

section > p:first-child::first-line {
    font-size: calc(var(--fs) + 60%);
    font-style: oblique;
    letter-spacing: 0.1rem;
}

section > p::first-letter {
    padding-left: 5rem;
}

section > hr {
    border-top: 1rem dashed hsla(0, 0%, 0%, 0.10);
  }

.sq-parent {
display: flex;
flex-direction: row;
justify-content: center;
cursor: crosshair;
}

.sq-child1 {
background: rgb(187,59,14);
background: linear-gradient(138deg, rgba(187,59,14,1) 0%, rgba(201,88,48,1) 100%);
width: var(--sq-w);
height: var(--sq-h);
}

.sq-child2 {
background: rgb(221,118,49);
background: linear-gradient(138deg, rgba(221,118,49,1) 0%, rgba(219,101,22,1) 100%);
width: var(--sq-w);
height: var(--sq-h);
}

.sq-child3 {
background: rgb(112,129,96);
background: linear-gradient(138deg, rgba(112,129,96,1) 0%, rgba(87,99,75,1) 100%);
width: var(--sq-w);
height: var(--sq-h);
}

.sq-child4 {
background: rgb(216,197,147);
background: linear-gradient(138deg, rgba(216,197,147,1) 0%, rgba(180,165,128,1) 100%);
width: var(--sq-w);
height: var(--sq-h);
    }

@media only screen and (max-width: 720px) {

    .page-container {
        margin: auto;
        padding: 5px;
        max-width: 100%;
    }
    section > p::first-letter {
        padding-left: 2.5rem;
    }
    .sq-parent {
        display: flex;
        flex-direction: column;
        }
}


